/* Style de base */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Mise en page */
#intro {
    text-align: center;
    padding: 50px;
    background: linear-gradient(to right, #4CAF50, #388E3C); /* Couleur de fond dégradé */
    color: white; /* Couleur du texte */
}

#intro img {
    width: 150px;
    height: auto;
    margin: 20px;
    border-radius: 50%; /* Images en rond */
}

/* Barre de navigation moderne */
nav#accueil {
    background: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre pour un effet de profondeur */
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav#accueil ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav#accueil ul li {
    display: inline-block;
    margin: 0 15px;
}

nav#accueil ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s; /* Transition fluide */
}

nav#accueil ul li a:hover {
    background-color: #4CAF50; /* Couleur de survol */
    color: #fff;
    border-radius: 5px; /* Coins arrondis */
}
